<style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: "Helvetica", sans-serif;
            color: #333;
        }
        .w3-bar,h1,button {
            font-family: "Helvetica", sans-serif;
            background-color: #cc99ff;
        }
        .fa-desktop {
            font-size: 200px;
        }
        .custom-header {
            background-color: #cc99ff;
            padding: 128px 16px;
            text-align: center;
            color: black;
        }
        .custom-footer {
            background-color: #000000;
            padding: 64px;
            text-align: center;
            color: white;
        }
        .custom-content {
            color: black;
        }
        .h1-colored {
            color: #000000;
            background-color: transparent;
        }
        .h1-transparent {
            background-color: transparent;
        }
    </style>

<div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="lexineremediositc.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
        <a href="assignment1.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 1</a>
        <a href="assignment2.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 2</a>
        <a href="assignment3.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 3</a>
        <a href="assignment4.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 4</a> 
    </div>

    <div id="navDemo" class="w3-bar-block w3-white w3-hide">
        <a href="lexineremediositc.html" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="assignment1.html" class="w3-bar-item w3-button w3-padding-large">Assignment 1</a>
        <a href="assignment2.html" class="w3-bar-item w3-button w3-padding-large">Assignment 2</a>
        <a href="assignment3.html" class="w3-bar-item w3-button w3-padding-large">Assignment 3</a>
        <a href="assignment4.html" class="w3-bar-item w3-button w3-padding-large">Assignment 4</a> 
    </div>
</div>
