<style>
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #FFF0F5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  background-color: #FFF0F5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
</style>

<div class="w3-top">
    <div class="w3-bar w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="lexineremediositc.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
        <a href="assignment1.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 1</a>
        <a href="assignment2.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 2</a>
        <a href="assignment3.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 3</a>
        <a href="assignment4.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Assignment 4</a> 
    </div>

    <div id="navDemo" class="w3-bar-block w3-white w3-hide">
        <a href="lexineremediositc.html" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="assignment1.html" class="w3-bar-item w3-button w3-padding-large">Assignment 1</a>
        <a href="assignment2.html" class="w3-bar-item w3-button w3-padding-large">Assignment 2</a>
        <a href="assignment3.html" class="w3-bar-item w3-button w3-padding-large">Assignment 3</a>
        <a href="assignment4.html" class="w3-bar-item w3-button w3-padding-large">Assignment 4</a> 
    </div>
</div>
